doctype html
html
        head
            title="hello first pug templates"

            body
                div
                    h1.classTitle#idTitle Title heading

                    p.greetings#people I'm render from pug !

