doctype html
html
    head
        title="signup"
        body
            button(type='submit')
                a(href="/profile") LOGIN
            br
            br
            button(type='submit')
                a(href="/auth/google") LOGIN with Google
